@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
/* .my-image{
    filter: brightness(0) invert(1);
    opacity: 0.8;
    mix-blend-mode: multiply;
} */
 body::-webkit-scrollbar{
    display: none;
 }